table {
    background-color: rgba(22, 2, 40, 0.867);
    width: 80%;
    height: 70%;
    padding: 4px;
}

thead tr:nth-child(1) {
    background-color: black;
    color: white;
    height: 44px;
    width: 4px;
}

thead tr:nth-child(2) {
    height: 24px;
    background-color: rgba(28, 173, 110, 0.563);
    color: rgb(216, 214, 214);
    border: 1px solid white;

    cursor: pointer;
}

tbody {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

tbody td {
    border: 1px solid rgba(80, 79, 79, 0.493);
}

tbody tr td:nth-child(1) {
    color: rgb(167, 165, 165);
    background-color: black;
}



tfoot td {
    background-color: rgb(80, 80, 79);
    width: 1px;
    height: 88px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

tfoot td:nth-child(1) {
    background-color: white;
    opacity: 0;
}